.accordion-collapse li {
  list-style: none;
  padding-left: 10px;
  font-size: 16px !important;
  font-weight: 400;
  border-left: 2px solid #000;
  padding: 0px 12px 0px 12px;
  color: #000;
  margin-bottom: 5px;
  transition-delay: 100ms;
}

.accordion-header  a {
  text-decoration: none;
}
.accordion-collapse a {
  text-decoration: none;
}

.accordion-collapse li:hover {
  color: #0066ff;
}

.accordion-collapse.collapse li {
  cursor: pointer;
  padding: 0px 10px;
}

.accordion-header li {
  cursor: pointer;
}

.b_border {
  background: #c9c9c9;
  height: 0.5px;
  margin-left: 10px;
  width: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accordion-collapse {
  margin-left: 15px;
}

.collapsed {
  list-style: none;
}

.accordion {
  width: 15rem;
}

.active {
  border-left: 2px solid #0066ff !important;
  color: #0066ff;
}

.accordion-header li {
  list-style: none;
  font-size: 18px;
  border-left: 2px solid #000;
  margin-top: 10px;
  padding-left: 10px;
}

.accordion-header li:hover {
  color: #0066ff;
}